#projects {
  margin-bottom: 0;
  background-color: black;

  .project {
    &:last-of-type {
      opacity: 1 !important;
      .project {
        filter: grayscale(0) !important;
      }
    }
  }
}
