@reference "../../app.css"

#projects {
  @apply mb-0 bg-black w-full h-full;

  .project {
    &:last-of-type {
      @apply opacity-100!
      .project {
        @apply grayscale-0!;
      }
    }
  }
}
