@import "../../mixins";

.project {
  @extend %row;
  padding: 5%;
  display: flex;
  height: 100vh;

  &--left,
  &--right {
    @extend %col;
    @extend %s12;
    @extend %m6;
    position: relative;

    height: auto;

    > div {
      width: 100%;
    }
  }

  .flower {
    margin-bottom: 0;
  }

  .description {
    width: 100%;

    h2 {
      margin-top: 0;
    }
  }

  &--phone {
    .image-gallery {
      @media #{$medium-and-up} {
        border-style: solid;
        border-color: transparent;

        border-top-width: 65px;
        border-bottom-width: 70px;
        border-left-width: 55px;
        border-right-width: 65px;

        border-image-source: url("/img/phone.png");
        border-image-slice: 49 41 50 48;
      }

      @media #{$medium-and-down} {
        border-top-width: 58px;
        border-bottom-width: 58px;
      }
      @media #{$large-and-up} {
        border-top-width: 62px;
        border-bottom-width: 62px;
      }
    }
  }

  &--tablet {
    .image-gallery {
      @media #{$medium-and-up} {
        border-style: solid;
        border-color: transparent;

        border-top-width: 16px;
        border-bottom-width: 16px;
        border-left-width: 38px;
        border-right-width: 38px;

        border-image-source: url("/img/tablet.png");
        border-image-slice: 43 114 40 110;
      }

      @media #{$large-and-up} {
        border-right-width: 52px;
        border-left-width: 52px;
      }

      @media #{$medium-and-down} {
        border-right-width: 31px;
        border-left-width: 31px;
      }
    }
  }

  &--desktop {
    .image-gallery {
      @media #{$medium-and-up} {
        border-style: solid;
        border-color: transparent;

        border-top-width: 16px;
        border-bottom-width: 46px;
        border-left-width: 47px;
        border-right-width: 47px;

        border-image-source: url("/img/desktop.png");
        border-image-slice: 36 100 95 105;
      }

      @media #{$large-and-up} {
        border-bottom-width: 53px;
      }
      @media #{$medium-and-down} {
        border-bottom-width: 33px;
      }
    }
  }

  @media #{$small-and-down} {
    display: block !important;
    padding-bottom: 10%;
    &--left,
    &--right {
      display: block !important;
      padding: 0 !important;
    }

    .description p {
      padding: 5% 0;
      margin: 0;
    }
  }

  .icon {
    overflow: initial !important;
    height: auto !important;
    img {
      position: absolute;
      top: 0;
    }
  }

  &--rtl {
    .project--left {
      display: flex;
      order: 1;
      padding: 0;
      @media #{$small-and-down} {
        width: 99.5%;
      }
      @media #{$medium-and-up} {
        .carousel {
          padding-right: 10%;
          position: relative;

          .image-gallery {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
          }
        }
      }
    }

    .project--right {
      display: flex;
      order: 2;
      padding: 0;

      h2 {
        position: absolute;
        top: 7.5%;
        left: 0;
        @media #{$small-and-down} {
          top: 0;
        }
        @media #{$medium-and-down} {
          top: 4.5%;
        }
      }

      .flower {
        float: right;
      }
      .icon {
        float: left;
      }
    }
  }

  &--ltr {
    .project--left {
      display: flex;
      order: 1;
      padding: 0;

      h2 {
        position: absolute;
        top: 7.5%;
        right: 0;
        @media #{$small-and-down} {
          top: 0;
        }
        @media #{$medium-and-down} {
          top: 4.5%;
        }
      }
    }
    .project--right {
      display: flex;
      order: 2;
      padding: 0;

      @media #{$small-and-down} {
        width: 99.5%;
      }

      @media #{$medium-and-up} {
        .carousel {
          padding-left: 10%;
          position: relative;

          .image-gallery {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
          }
        }
      }
    }
  }

  // width: 100% !important;
  // overflow: hidden;
  margin-bottom: 0;

  /* all old below */

  &--rtl {
    .project {
      .description,
      .flower {
        @extend %offset-s2;
        font-weight: lighter;
      }
      .icon {
        margin-left: 10%;
        display: block !important;
        overflow: initial !important;
        @media #{$small-and-down} {
          margin-right: 0%;
        }
      }
    }
  }

  &--ltr {
    .project {
      .icon {
        margin-right: 10%;
        display: block !important;
        overflow: initial !important;
        @media #{$small-and-down} {
          margin-right: 0%;
        }
      }
    }
  }

  @media #{$small-and-down} {
    .description,
    .flower {
      margin-left: 0 !important;
    }
  }

  .description {
    @extend %col;
    @extend %s10;

    padding: 0;
    color: #fff;
    font-size: 1.8vw;
    @media #{$medium-and-down} {
      font-size: 2.2vw;
    }
    @media #{$small-and-down} {
      font-size: 5.5vw;
    }

    ul {
      margin: 0;
      padding-left: 22px;
      margin-top: 20px;
      width: 100%;
      text-align: left;
      li {
        list-style-type: circle;
        list-style-position: outside;
      }
    }

    @media #{$small-and-down} {
      width: 100%;
      text-align: left;
      p {
        font-size: 5.5vw;
      }
    }
  }

  .icon {
    float: right;
    width: 15%;
    padding: 0 0 10% 0;
    svg {
      fill: white;
    }
  }
  .flower {
    @extend %col;
    @extend %s3;
    padding: 0;
    margin-top: -2px;
    .drop {
      background-color: white;
      span {
        color: inherit;
        font-size: 1.5vw;
        @media #{$small-and-down} {
          font-size: 4vw;
        }
      }
      &--none {
        background-color: transparent;
      }
      &--year {
        span {
          @media #{$small-and-down} {
            font-size: 4vw;
          }
        }
      }
    }
  }

  &--bornholdt_lee_gmbh {
    background-color: #0d345f;
    .flower .drop {
      color: #0d345f;
    }
  }
  &--duchenne {
    background-color: #f9b234;
    .flower .drop {
      color: #f9b234;
    }
  }
  &--bornholdt_lee_-_relaunch {
    background-color: #0d345f;
    .flower .drop {
      color: #0d345f;
    }
  }
  &--freixenet {
    background-color: #d3ad6a;
    /*background-image: radial-gradient(
        10% 30%,
        #e09a9a 4%,
        #ffffff 4%,
        #bebebe 100%
      );*/
    .flower .drop {
      color: #d3ad6a;
    }
  }
  &--ichallenge {
    background-color: #ff6200;
    .flower .drop {
      color: #ff6200;
    }
  }
  &--pulvermühle {
    background-color: #000;
    .flower .drop {
      color: #000;
    }
  }
  &--o2 {
    background-color: #0090d0;
    .flower .drop {
      color: #0090d0;
    }
  }
  &--tchibo {
    background-color: #003976;
    .flower .drop {
      color: #003976;
    }
  }
  &--accenture {
    background-color: #74881d;
    .flower .drop {
      color: #74881d;
    }
  }
  &--smoothr {
    background-color: #152831;
    .flower .drop {
      color: #152831;
    }

    .image-gallery {
      @media #{$large-and-up} {
        border-right-width: 48px;
        border-left-width: 48px;
      }
      @media #{$medium-and-down} {
        border-right-width: 25px;
        border-left-width: 25px;
      }
    }
  }
  &--db-systel {
    * {
      color: #000;
    }
    background-color: #fff;
    .flower .drop {
      background-color: #000;
      border-color: #000;
      color: #fff;
    }

    .drop--none,
    .drop--year {
      border-color: #000 !important;
    }
    .drop--year {
      color: #000 !important;
    }
  }

  &--docident {
    background-color: #b4dd2c;
    .flower .drop {
      color: #b4dd2c;
    }
  }

  &--portfolio {
    background-color: #261714;
    .flower .drop {
      color: #261714;
    }
  }
}
