@import "../../mixins";

.project {
  @extend %row;
  padding: 5%;
  height: 100vh;
  display: flex;
  margin: 0;
  position: sticky;
  top: 0;

  &--description-column,
  &--gallery-column {
    @extend %col;
    @extend %s12;
    @extend %m6;
    position: relative;
    @media #{$small-and-down} {
      position: initial;
    }
    height: 100%;
    display: block;
  }

  @media #{$small-and-down} {
    display: block;

    &--description-column,
    &--gallery-column {
      height: auto;
    }
  }

  .heading {
    display: flex;
    position: relative;
    justify-content: space-between;

    .flower {
      @extend %col;
      @extend %s3;
      padding: 0;
      margin: 0;
      .drop {
        background-color: white;
        span {
          color: inherit;
          font-size: 1.5vw;
          @media #{$small-and-down} {
            font-size: 4vw;
          }
        }
        &--none {
          background-color: transparent;
        }
        &--year {
          span {
            @media #{$small-and-down} {
              font-size: 4vw;
            }
          }
        }
      }
    }

    h2 {
      display: inline;
      align-self: flex-end;
      @extend %col;
      @extend %s9;
      padding: 0;
      margin: 0;
      line-height: 120%;
    }
  }

  .description {
    @extend %col;
    @extend %s10;
    width: 100%;
    font-weight: lighter;
    padding: 0;
    color: #fff;

    font-size: 1.4vw;
    @media #{$medium-and-down} {
      font-size: 2.2vw;
    }
    @media #{$small-and-down} {
      font-size: 5.5vw;
    }

    h3 {
      font-size: 1.8vw;
      @media #{$medium-and-down} {
        font-size: 2.2vw;
      }
      @media #{$small-and-down} {
        font-size: 5.5vw;
      }
    }

    @media #{$small-and-down} {
      width: 100%;
      text-align: left;
      p {
        font-size: 5.5vw;
      }
    }
  }

  .carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    .flipper {
      order: 0;
      flex: 0 1 auto;
      align-self: auto;
    }
  }

  &--rtl {
    .project--description-column {
      order: 2;
      .flower {
        order: 2;
      }
      h2 {
        order: 1;
        text-align: left;
      }
    }
    .project--gallery-column {
      display: flex;
      order: 1;
      @media #{$small-and-down} {
        display: initial;
      }
    }
  }

  &--ltr {
    .project--description-column {
      order: 1;
      h2 {
        order: 1;
        text-align: right;
      }
    }
    .project--gallery-column {
      display: flex;
      order: 2;
      @media #{$small-and-down} {
        display: initial;
      }
    }
  }

  .image-gallery {
    &::before {
      content: "";
      width: 1px;
      margin-left: -1px;
      float: left;
      height: 0;
    }
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &--phone {
    .carousel {
      max-width: 100%;
      @media #{$medium-and-up} {
        width: 100%;
        margin-top: 0;
        //height: 50vh;
      }
      .flipper {
        margin-top: 10%;
        width: 75%;
        @media #{$small-short} {
          width: 62%;
        }
        @media #{$small-long} {
          width: 80%;
        }
        @media #{$medium-and-up} {
          width: 50%;
          margin-top: 0;
          //height: 50vh;
        }
      }

      .carousel--text {
        @media #{$medium-and-down} {
          width: 85vw !important;
          right: -45px;

          h3 {
            font-size: 6vw;
            margin: 15px 0;
          }
          p {
            font-size: 4.8vw;
            margin: 5px 0;
          }
        }
        @media #{$small-short} {
          right: -65px;

          p {
            font-size: 4.2vw;
            margin: 5px 0;
          }
        }
        @media #{$small-long} {
          right: -25px;

          p {
            font-size: 4.9vw;
            margin: 5px 0;
          }
        }
      }
    }
    .image-gallery::before {
      padding-top: 178%;
    }

    .image-gallery {
      background-image: url(/img/phone.png);
      background-repeat: no-repeat;
      background-size: contain;
      padding: 24% 6.5% 25% 6.5%;
    }

    .image-gallery-bullets {
      bottom: -25%;
    }
  }

  &--tablet {
    &.project--landscape {
      .image-gallery::before {
        padding-top: 75%;
      }

      .image-gallery {
        background-image: url(/img/tablet.png);
        background-repeat: no-repeat;
        background-size: contain;
        padding: 2.6% 9.9% 5% 9.5%;
      }

      .carousel {
        max-width: 100%;
        @media #{$medium-and-up} {
          width: 100%;
          margin-top: 0;
          //height: 50vh;
        }

        .flipper {
          margin-top: 10%;
          width: 75%;
          @media #{$small-short} {
            margin-top: 40%;
            width: 62%;
          }
          @media #{$small-long} {
            margin-top: 60%;
            width: 100%;
          }
          @media #{$medium-and-up} {
            width: 90%;
            margin-top: 50%;
            //height: 50vh;
          }
        }

        .carousel--text {
          @media #{$medium-and-down} {
            width: 85vw !important;
            right: -45px;

            h3 {
              font-size: 6vw;
              margin: 15px 0;
            }
            p {
              font-size: 4.8vw;
              margin: 5px 0;
            }
          }
          @media #{$small-short} {
            margin-top: -45%;
            right: -65px;

            p {
              font-size: 4.4vw;
              margin: 5px 0;
            }
          }
          @media #{$small-long} {
            margin-top: -50%;
            right: 0;

            p {
              font-size: 5.3vw;
              margin: 10px 0;
            }
          }
        }
      }

      .image-gallery-bullets {
        bottom: -15%;
      }
    }

    &.project--portrait {
      .carousel {
        max-width: 100%;
        @media #{$medium-and-up} {
          width: 100%;
          margin-top: 0;
          //height: 50vh;
        }

        .flipper {
          margin-top: 10%;
          width: 100%;
          @media #{$small-short} {
            margin-top: 10%;
            width: 85%;
          }
          @media #{$small-long} {
            margin-top: 20%;
            width: 100%;
          }
          @media #{$medium-and-up} {
            width: 65%;
            margin-top: 0;
            //height: 50vh;
          }
        }

        .carousel--text {
          @media #{$medium-and-down} {
            right: 0;

            h3 {
              font-size: 6vw;
              margin: 15px 0;
            }
            p {
              font-size: 4.8vw;
              margin: 5px 0;
            }
          }
          @media #{$small-short} {
            margin-top: 0;
            right: -25px;

            p {
              font-size: 4.2vw;
              margin: 5px 0;
            }
          }
          @media #{$small-long} {
            margin-top: -5%;
            right: 0;

            p {
              font-size: 5.3vw;
              margin: 10px 0;
            }
          }
        }
      }

      .image-gallery::before {
        padding-top: 133%;
      }

      .image-gallery {
        background-image: url(/img/tablet_p.png);
        background-repeat: no-repeat;
        background-size: contain;
        padding: 14% 4.5% 15% 4.5%;
      }

      .image-gallery-bullets {
        bottom: -20%;
      }
    }
  }

  &--desktop {
    .image-gallery::before {
      padding-top: 62.5%;
    }
    .image-gallery {
      background-image: url(/img/desktop.png);
      background-repeat: no-repeat;
      background-size: contain;
      padding: 3.5% 12.5% 9.5% 10.5%;
    }

    .carousel {
      max-width: 100%;
      .flipper {
        margin-top: 60%;
        width: 100%;
        @media #{$small-short} {
          margin-top: 50%;
          width: 85%;
        }
        @media #{$small-long} {
          margin-top: 60%;
          width: 100%;
        }
      }

      .carousel--text {
        @media #{$medium-and-down} {
          margin-top: -50%;
          right: 0;

          h3 {
            font-size: 6vw;
            margin: 15px 0;
          }
          p {
            font-size: 4.8vw;
            margin: 5px 0;
          }
        }
        @media #{$small-short} {
          margin-top: -50%;
          right: -25px;

          p {
            font-size: 4.2vw;
            margin: 5px 0;
          }
        }
        @media #{$small-long} {
          margin-top: -50%;
          right: 0;

          p {
            font-size: 5.3vw;
            margin: 10px 0;
          }
        }
      }
    }

    .image-gallery-bullets {
      bottom: -30%;
    }
  }

  &--bornholdt-lee-gmbh {
    background-color: #0d345f;
    .flower .drop {
      color: #0d345f;
    }
  }
  &--duchenne {
    background-color: #f9b234;
    .flower .drop {
      color: #f9b234;
    }
  }
  &--bornholdt-lee---relaunch {
    background-color: #032034;
    .flower .drop {
      color: #032034;
    }
  }
  &--freixenet {
    background-color: #d3ad6a;
    .flower .drop {
      color: #d3ad6a;
    }
    .image-gallery::before {
      padding-top: 150%;
    }

    .image-gallery {
      background-image: url(/img/phone_4.png);
      padding: 27% 6.5% 30% 7.5%;
    }
    .image-gallery-bullets {
      bottom: -30%;
    }
  }
  &--ichallenge---ing-diba {
    background-color: #ff6200;
    .flower .drop {
      color: #ff6200;
    }
  }
  &--pulvermühle {
    background-color: #000;
    .flower .drop {
      color: #000;
    }
  }
  &--o2 {
    background-color: #0090d0;
    .flower .drop {
      color: #0090d0;
    }
  }
  &--tchibo,
  &--tchibo_shop {
    background-color: #003976;
    .flower .drop {
      color: #003976;
    }
  }
  &--nivea {
    background-color: #00136f;
    .flower .drop {
      color: #00136f;
    }
  }
  &--smoothr {
    background-color: #152831;
    .image-gallery::before {
      padding-top: 60% !important;
    }

    .image-gallery {
      background-image: url(/img/tablet_1x6.png) !important;
      padding: 7% 9% 8% 9% !important;
    }

    .image-gallery-bullets {
      bottom: -25% !important;
    }

    .flower .drop {
      color: #152831;
    }
  }
  &--db-systel {
    * {
      color: #000;
    }
    background-color: #fff;
    .flower .drop {
      background-color: #000 !important;
      border-color: #000 !important;
      color: #fff !important;
    }

    .drop.drop--none,
    .drop.drop--year,
    .image-gallery-bullet {
      border-color: #000 !important;
      background-color: #fff !important;
    }
    .drop.drop--year,
    .carousel--flipper {
      color: #000 !important;
      border-color: #000 !important;
    }

    .image-gallery-bullet.active {
      background-color: #000 !important;
    }
  }

  &--docident {
    * {
      color: #595757;
    }
    background-color: #b4dd2c;
    .flower .drop {
      color: #b4dd2c !important;
      background-color: #595757 !important;
    }
    .drop.drop--none,
    .drop.drop--year,
    .image-gallery-bullet {
      border-color: #595757 !important;
      background-color: transparent !important;
    }
    .drop.drop--year,
    .carousel--flipper {
      color: #595757 !important;
    }
    .image-gallery-bullet.active {
      background-color: #595757 !important;
    }
  }

  &--portfolio {
    background-color: #261714;
    .flower .drop {
      color: #261714;
    }
  }
}
