@import "../../mixins";

.project {
  @extend %row;
  padding: 5%;
  height: 100vh;
  display: flex;
  margin: 0;
  position: sticky;
  top: 0;

  &--description-column,
  &--gallery-column {
    @extend %col;
    @extend %s12;
    @extend %m6;
    position: relative;
    @media #{$medium-and-down} {
      position: initial;
      width: 100% !important;
    }
    height: 100%;
    display: block;
  }

  @media #{$medium-and-down} {
    display: block;

    &--description-column,
    &--gallery-column {
      height: auto;
    }
  }

  .heading {
    display: flex;
    position: relative;
    justify-content: space-between;

    .flower {
      @extend %col;
      @extend %s3;
      padding: 0;
      margin: 0;
      .drop {
        background-color: white;
        span {
          color: inherit;
          font-size: 1.5vw;
          @media #{$medium-and-down} {
            font-size: 4vw;
          }
        }
        &--none {
          background-color: transparent;
        }
        &--year {
          span {
            @media #{$medium-and-down} {
              font-size: 4vw;
            }
          }
        }
      }
    }

    h2 {
      display: inline;
      align-self: flex-end;
      @extend %col;
      @extend %s9;
      padding: 0;
      margin: 0;
      line-height: 120%;

      @media #{$medium-only} {
        font-size: 5.5vw !important;
      }
    }
  }

  .description {
    @extend %col;
    @extend %s10;
    width: 100%;
    font-weight: lighter;
    padding: 0;
    color: #fff;

    font-size: 1.4vw;
    @media #{$medium-and-down} {
      font-size: 5.5vw;
    }

    @media #{$large-and-up} {
      font-size: 2.5vw;
      padding: 25% 0;
    }

    @media #{$extra-large-and-up} {
      font-size: 1.3vw;
      padding: 0 0;
    }

    h3 {
      font-size: 2.2vw;
      @media #{$medium-and-down} {
        font-size: 5.5vw;
      }
    }

    @media #{$medium-and-down} {
      width: 100%;
      text-align: left;
      p {
        font-size: 5.5vw;
      }
    }
  }

  .carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    .flipper {
      order: 0;
      flex: 0 1 auto;
      align-self: auto;

      .carousel--text {
        @media #{$medium-and-down} {
          h3 {
            font-size: 6vw;
          }
          p {
            font-size: 4.5vw;
          }
        }
        @media #{$medium-only} {
          h3 {
            font-size: 4vw;
          }
          p {
            font-size: 3.5vw;
          }
        }

        @media #{$small-short} {
          p {
            font-size: 4vw;
          }
        }
        @media #{$small-long} {
          p {
            font-size: 4.2vw;
          }
        }
      }
    }
  }

  .carousel--flipper {
    @media #{$small-and-down} {
      margin-bottom: 15%;
    }
  }

  &--rtl {
    .project--description-column {
      order: 2;
      .flower {
        order: 2;
      }
      h2 {
        order: 1;
        text-align: left;
      }
    }
    .project--gallery-column {
      display: flex;
      order: 1;
      @media #{$medium-and-down} {
        display: initial;
        width: 100%;
      }
    }
  }

  &--ltr {
    .project--description-column {
      order: 1;
      h2 {
        order: 1;
        text-align: right;
      }
    }
    .project--gallery-column {
      display: flex;
      order: 2;
      @media #{$medium-and-down} {
        display: initial;
      }
    }
  }

  .image-gallery {
    &::before {
      content: "";
      width: 1px;
      margin-left: -1px;
      float: left;
      height: 0;
    }
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &--phone {
    &.project--ltr {
      .heading {
      @media #{$small-and-down} {
        justify-content: end;
      }
    }
    .carousel--flipper {
      @media #{$small-and-down} {
        left: 0;
        margin-left:5%;
      }
    }
    }

    .carousel--flipper {
      @media #{$small-and-down} {
        top: 2%;
        right: 0;
        bottom: auto;
        margin-bottom: 0;
        margin-right:5%;
      }
    }
    .heading {
      @media #{$small-and-down} {
        justify-content: start;
      }
    }
    .flower {
      @media #{$small-and-down} {
        display: none;
      }
    }
    .carousel {
      max-width: 100%;
      @media #{$large-and-up} {
        width: 100%;
        margin-top: 0;
        //height: 50vh;
      }
      .flipper {
        margin-top: 10%;
        width: 70%;
         @media #{$small-and-down} {
          width: 100%;
          margin-top: 3%;
        }
        @media #{$large-and-up} {
          margin-top: 0;
          //height: 50vh;
        }
        @media #{$extra-large-and-up} {
          margin-top: 10%!important;
          width: 45%!important;
        }

        @media #{$medium-only} {
          width: 40%;
        }

        @media #{$small-short} {
          width: 62%;
        }
        @media #{$small-long} {
          width: 68%;
        }
      }

      .carousel--text {
        @media #{$medium-and-down} {
          width: 85vw !important;
          right: -50px;

          h3 {
            margin: 15px 0;
          }
          p {
            font-size: 4.5vw;
          }
        }
        @media #{$medium-only} {
          width: 85vw !important;
          right: -200px;

          h3 {
            margin: 15px 0;
          }
          p {
            margin: 5px 0;
          }
        }

        @media #{$small-short} {
          right: -65px;

          p {
            margin: 5px 0;
          }
        }
        @media #{$small-long} {
          right: -50px;

          p {
            margin: 5px 0;
					}
					h3 {
						margin: 25px 0 0 0;
					}
        }
      }
		}

    .image-gallery::before {
      padding-top: 178%;
    }

    .image-gallery {
      @media #{$medium-and-up} {
      background-image: url(/img/phone.png);
      background-repeat: no-repeat;
      background-size: contain;
      padding: 24% 6.5% 25% 6.5%;
      }
    }

    .image-gallery-bullets {
      bottom: -25%;
      @media #{$small-and-down} {
        bottom:-3%;
      }
		}

		.carousel--text {
			h3 {
				margin: 25px 0 0 0;
			}
		}
  }

  &--iphone {
    .carousel--flipper {
      @media #{$small-and-down} {
        top: 2%;
        left: 0;
        bottom: auto;
        margin-bottom: 0;
        margin-left:5%;
      }
    }
    .heading {
      @media #{$small-and-down} {
        justify-content: end;
      }
    }
    .flower {
      @media #{$small-and-down} {
        display: none;
      }
    }

    .project--gallery-column {
      @media #{$small-and-down} {
        padding:0;
      }
    }
    .carousel {
      max-width: 100%;
      @media #{$small-and-down} {
        padding-bottom: 5%;
      }
      @media #{$large-and-up} {
        width: 100%;
        margin-top: 0;
        //height: 50vh;
      }
      .flipper {
        @media #{$small-and-down} {
          margin-top: 3%;
        }
        margin-top: 10%;
        width: 110%;
        @media #{$large-and-up} {
          margin-top: 0;
          //height: 50vh;
        }
        @media #{$extra-large-and-up} {
          margin-top: 10%!important;
          width: 70%!important;
        }

        @media #{$medium-only} {
          width: 60%;
        }

        @media #{$small-short} {
          width: 62%;
        }
        @media #{$small-long} {
          width: 68%;
        }
      }

      .carousel--text {
        @media #{$medium-and-down} {
          width: 85vw !important;
          right: 5px;

          h3 {
            margin: 15px 0;
          }
          p {
            font-size: 4.5vw;
          }
        }
        @media #{$medium-only} {
          width: 85vw !important;
          right: -200px;

          h3 {
            margin: 15px 0;
          }
          p {
            margin: 5px 0;
          }
        }

        @media #{$small-short} {
          right: -65px;

          p {
            margin: 5px 0;
          }
        }
        @media #{$small-long} {
          right: -50px;

          p {
            margin: 5px 0;
          }
          h3 {
            margin: 25px 0 0 0;
          }
        }
      }
    }

    .image-gallery::before {
      padding-top: 178%;
    }

    .image-gallery {
      @media #{$medium-and-up} {
        background-image: url(/img/iphone.png);
        background-repeat: no-repeat;
        background-size: contain;
        padding: 8% 19% 22% 16.5%;

        .image-gallery-image img {
          border-radius: 35px !important;

          @media #{$large-and-up} {
            border-radius: 48px !important;
          }

        }
      }
    }

    .image-gallery-bullets {
      @media #{$small-and-down} {
        bottom: -3%;
      }
      bottom: -7%;
    }

    .carousel--text {
      h3 {
        margin: 25px 0 0 0;
      }
    }
  }

  &--tablet {
    &.project--landscape {
      .image-gallery::before {
        padding-top: 75%;
      }

      .image-gallery {
        background-image: url(/img/tablet.png);
        background-repeat: no-repeat;
        background-size: contain;
        padding: 2.6% 9.9% 5% 9.5%;
      }

      .carousel {
        max-width: 100%;
        @media #{$large-and-up} {
          width: 100%;
          margin-top: 0;
          //height: 50vh;
        }

        .flipper {
          margin-top: 10%;
          width: 75%;
          @media #{$extra-large-and-up} {
            margin-top: 10% !important;
            width: 95% !important;
          }

          @media #{$medium-and-down} {
            margin-top: 60%;
            width: 90%;
          }
          @media #{$medium-only} {
            width: 100%;
            margin-top: 20%;
          }
          @media #{$small-short} {
            margin-top: 40%;
            width: 100%;
          }
          @media #{$small-long} {
            margin-top: 60%;
            width: 100%;
          }
          @media #{$large-and-up} {
            width: 90%;
            margin-top: 0;
            //height: 50vh;
          }
        }

        .carousel--text {
          @media #{$medium-and-down} {
            width: 85vw !important;
            right: -15px;
            margin-top: -45%;
            h3 {
            }
            p {
              margin: 5px 0;
            }
          }
          @media #{$medium-only} {
            width: 85vw !important;
            right: 0px;
            margin-top: -10%;

            p {
              margin: 5px 0;
            }
          }
          @media #{$small-short} {
            margin-top: -25%;
            right: 0px;

            p {
              margin: 5px 0;
            }
          }
          @media #{$small-long} {
            margin-top: -55%;
            right: 0;

            p {
              margin: 10px 0;
            }
          }
        }
      }

      .image-gallery-bullets {
        bottom: -15%;
      }
    }

    &.project--portrait {
      .carousel {
        max-width: 100%;
        @media #{$medium-and-up} {
          width: 100%;
          margin-top: 0;
          //height: 50vh;
        }

        .flipper {
          margin-top: 10%;
          width: 100%;

          @media #{$extra-large-and-up} {
            margin-top: 0% !important;
            width: 65% !important;
          }

          @media #{$medium-only} {
            width: 55%;
          }

          @media #{$small-short} {
            width: 85%;
          }
          @media #{$small-long} {
            margin-top: 10%;
            width: 90%;
          }
          @media #{$large-and-up} {
            width: 95%;
            margin-top: 0;
            //height: 50vh;
          }
        }

        .carousel--text {
          @media #{$medium-and-down} {
            right: 0;

            p {
              margin: 5px 0;
            }
          }
          @media #{$medium-only} {
            width: 85vw !important;
            right: -150px;

            p {
              margin: 5px 0;
            }
          }

          @media #{$small-short} {
            margin-top: 0;
            right: -25px;

            p {
              margin: 5px 0;
            }
          }
          @media #{$small-long} {
            margin-top: -5%;
            right: -15px;

            p {
              margin: 10px 0;
            }
          }
        }
      }

      .image-gallery::before {
        padding-top: 133%;
      }

      .image-gallery {
        background-image: url(/img/tablet_p.png);
        background-repeat: no-repeat;
        background-size: contain;
        padding: 14% 4.5% 15% 4.5%;
      }

      .image-gallery-bullets {
        bottom: -20%;
      }
    }
  }

  &--desktop {
    &.project--ltr {
      .heading {
      @media #{$small-and-down} {
        justify-content: end;
      }
    }
    .carousel--flipper {
      @media #{$small-and-down} {
        left: 0;
        margin-left:5%;
      }
    }
    }

    .carousel--flipper {
      @media #{$small-and-down} {
        top: 2%;
        right: 0;
        bottom: auto;
        margin-bottom: 0;
        margin-right:5%;
      }
    }
    .heading {
      @media #{$small-and-down} {
        justify-content: start;
      }
    }
    .flower {
      @media #{$small-and-down} {
        display: none;
      }
    }
    .image-gallery::before {
      padding-top: 62.5%;
    }
    .image-gallery {
      @media #{$medium-and-up} {
      background-image: url(/img/desktop.png);
      background-repeat: no-repeat;
      background-size: contain;
      padding: 3.5% 12.5% 9.5% 10.5%;
      }
    }

    .carousel {
      max-width: 100%;
      .flipper {
        margin-top: 60%;
        width: 100%;

        @media #{$extra-large-and-up} {
          margin-top: 0% !important;
          width: 80% !important;
        }
        @media #{$large-and-up} {
          margin-top: 0%;
        }
        @media #{$medium-only} {
          margin-top: 20%;
        }

        @media #{$small-short} {
          margin-top: 50%;
        }
        @media #{$small-long} {
          margin-top: 60%;
        }
      }

      .carousel--text {
        @media #{$medium-and-down} {
          margin-top: -50%;
          right: 0;

          p {
            font-size: 4.8vw;
            margin: 5px 0;
          }
        }
        @media #{$medium-only} {
          margin-top: -15%;
          width: 85vw !important;
          right: 0px;

          p {
            margin: 5px 0;
          }
        }

        @media #{$small-short} {
          margin-top: -50%;
          right: -25px;

          p {
            margin: 5px 0;
          }
        }
        @media #{$small-long} {
          margin-top: -50%;
          right: 0;

          p {
            margin: 10px 0;
          }
        }
      }
    }

    .image-gallery-bullets {
      bottom: -30%;
    }

    .description a,
    .carousel--text a {
      color: white;
      text-decoration: underline;
    }
  }

  &--bornholdt-lee-gmbh {
    background-color: #0d345f;
    .flower .drop {
      color: #0d345f;
    }
  }
  &--duchenne {
    background-color: #f9b234;
    .flower .drop {
      color: #f9b234;
    }
  }
  &--yogaeasy {
    background-color: #009090;
    .flower .drop {
      color: #009090;
    }
    .description a,
    .carousel--text a {
      color: white;
      text-decoration: underline;
    }
  }
  &--bornholdt-lee {
    background-color: #032034;
    .flower .drop {
      color: #032034;
    }
  }
  &--freixenet {
    background-color: #d3ad6a;
    .flower .drop {
      color: #d3ad6a;
    }
    .image-gallery::before {
      padding-top: 120%;
    }

    .description a,
    .carousel--text a {
      color: white;
      text-decoration: underline;
    }

    .image-gallery {
      background-image: url(/img/phone_4.png);
      padding: 27% 6.5% 30% 7.5%;
    }
    .image-gallery-bullets {
      bottom: -30%;
    }
  }
  &--ichallenge---ing-diba {
    background-color: #ff6200;
    .flower .drop {
      color: #ff6200;
    }
    .description a,
    .carousel--text a {
      color: white;
      text-decoration: underline;
    }
  }
  &--pulvermühle {
    background-color: #000;
    .flower .drop {
      color: #000;
    }
    .description a,
    .carousel--text a {
      color: white;
      text-decoration: underline;
    }
  }
  &--o2 {
    background-color: #0090d0;
    .flower .drop {
      color: #0090d0;
    }
  }
  &--tchibo,
  &--tchibo_shop {
    background-color: #003976;
    .flower .drop {
      color: #003976;
    }
  }
  &--nivea {
    background-color: #00136f;
    .flower .drop {
      color: #00136f;
    }

    .description a,
    .carousel--text a {
      color: white;
      text-decoration: underline;
    }
  }
  &--smoothr {
    background-color: #152831;
    .image-gallery::before {
      padding-top: 60% !important;
    }

    .image-gallery {
      background-image: url(/img/tablet_1x6.png) !important;
      padding: 7% 9% 8% 9% !important;
    }

    .image-gallery-bullets {
      bottom: -25% !important;
    }

    .flower .drop {
      color: #152831;
    }

    .description a,
    .carousel--text a {
      color: white;
      text-decoration: underline;
    }
  }
  &--db-systel {
    * {
      color: #000;
    }
    background-color: #fff;
    .flower .drop {
      background-color: #000 !important;
      border-color: #000 !important;
      color: #fff !important;
    }

    .drop.drop--none,
    .drop.drop--year,
    .image-gallery-bullet {
      border-color: #000 !important;
      background-color: #fff !important;
    }
    .drop.drop--year,
    .carousel--flipper {
      color: #000 !important;
      border-color: #000 !important;
    }

    .image-gallery-bullet.active {
      background-color: #000 !important;
    }

    .description a,
    .carousel--text a {
      color: black;
      text-decoration: underline;
    }
  }

  &--docident {
    * {
      color: #595757;
    }
    background-color: #b4dd2c;
    .flower .drop {
      color: #b4dd2c !important;
      background-color: #595757 !important;
    }
    .drop.drop--none,
    .drop.drop--year,
    .image-gallery-bullet {
      border-color: #595757 !important;
      background-color: transparent !important;
    }
    .drop.drop--year,
    .carousel--flipper {
      color: #595757 !important;
    }
    .image-gallery-bullet.active {
      background-color: #595757 !important;
    }
    .description a,
    .carousel--text a {
      color: #595757;
      text-decoration: underline;
    }
  }

  &--portfolio {
    background-color: #261714;
    .flower .drop {
      color: #261714;
    }
  }

  &--meine-kita {
    background-color: black;
    .flower .drop {
      color: black;
    }
  }

  &--timesheets {
    background-color: #00b1ad;
    .flower .drop {
      color: #00b1ad;
    }
    .description a,
    .carousel--text a {
      color: white;
      text-decoration: underline;
    }
  }

  &--car-alarm {
    background-color: #6e37ff;
    .flower .drop {
      color: #6e37ff;
    }
    .description a,
    .carousel--text a {
      color: white;
      text-decoration: underline;
    }
  }
}
