@import "../../mixins";

#skills {
  @extend %row;

  background: linear-gradient(
    to right,
    rgb(62, 62, 62) 0%,
    rgba(13, 13, 13, 1) 100%
  );
  color: #fff;
  margin-bottom: 0;
  padding: 5%;

  .skill {
    @extend %col;
    @extend %s12;
    @extend %m4;

    padding: 0 0 0 0;

    @media #{$medium-and-up} {
      padding: 0 5% 0 0;
    }

    hr {
      @extend %hide-on-small-only;
      background-color: rgba(112, 109, 109, 1);
      height: 1px;
      border-width: 0;
      margin-left: -25%;
      margin-right: -25%;
    }

    &:first-child {
      hr {
        margin-left: 0;
      }
    }

    &:last-child {
      hr {
        margin-right: 0;
      }
    }

    h2 {
      color: #fff;

      min-height: 4vw;
      @media #{$small-and-down} {
        margin-top: 10%;
      }
    }

    p {
      @media #{$medium-and-down} {
        font-size: 2.2vw;
      }
      @media #{$small-and-down} {
        font-size: 5.5vw;
        min-height: 0;
      }
    }

    .icons {
      @extend %row;
      text-align: center;
      padding: 0;

      @media #{$small-and-down} {
        margin-top: 20px;
      }

      .icon {
        @extend %col;
        @extend %s3;
        @extend %m6;
        @extend %l3;
        padding: 3%;

        > div {
          display: inline !important;
        }
        img {
          width: 100%;
          vertical-align: bottom;
        }
      }
    }
  }
}
