.project {
  @extend %row;
  padding: 5%;

  &.pinned {
    .overlay {
      display: block;
    }
  }
  &.pin-bottom,
  &.pin-top {
    .overlay {
      opacity: 0 !important;
      display: none !important;
    }
  }
  &--rtl.project {
    .description,
    .flower {
      @extend %offset-s2;
    }
    .icon {
      margin-left: 10%;
      @media #{$small-and-down} {
        margin-right: 0%;
      }
    }
  }
  &--ltr.project {
    .icon {
      margin-right: 10%;
      @media #{$small-and-down} {
        margin-right: 0%;
      }
    }
  }
  @media #{$small-and-down} {
    padding-bottom: 20%;
    .description,
    .flower {
      margin-left: 0 !important;
    }
  }
  .description {
    @extend %col;
    @extend %s10;
    padding-top: 10%;
    @media #{$small-and-down} {
      padding-top: 20%;
    }
    color: #fff;
    @media #{$small-and-down} {
      width: 100%;
      text-align: center;
      p {
        font-size: 5.5vw;
      }
    }
  }
  .icon {
    float: right;
    width: 15%;
    padding: 0 0 10% 0;
    svg {
      fill: white;
    }
  }
  .flower {
    @extend %s3;
    margin-left: -1%;
    margin-top: -1%;
    .drop {
      background-color: white;
      span {
        color: inherit;
        font-size: 2vw;
        @media #{$small-and-down} {
          font-size: 5vw;
        }
      }
      &--none {
        background-color: transparent;
      }
      &--year {
        span {
          @media #{$small-and-down} {
            font-size: 4vw;
          }
        }
      }
    }
  }
  .carousel {
    @media #{$small-and-down} {
      margin-top: 10%;
    }
    height: 100% !important;
    .indicators {
      bottom: -5%;
    }
    &-item {
      @extend .center;
      display: flex;
      align-items: center;
      min-height: 0 !important;
      font-size: 6vw;
      color: #fff;
      img {
        max-height: 90%;
        max-width: 100%;
        width: auto;
        margin: 0 auto;
        border: 1px solid rgba(255, 255, 255, 0.3);
      }
    }
    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }
  &--bornholdt_lee_gmbh {
    background-color: #0d345f;
    .flower .drop {
      color: #0d345f;
    }
  }
  &--duchenne {
    background-color: #f9b234;
    .flower .drop {
      color: #f9b234;
    }
  }
  &--bornholdt_lee_-_relaunch {
    background-color: #0d345f;
    .flower .drop {
      color: #0d345f;
    }
  }
  &--freixenet {
    background-color: #d3ae6a;
    /*background-image: radial-gradient(
        10% 30%,
        #e09a9a 4%,
        #ffffff 4%,
        #bebebe 100%
      );*/
    border: 1px solid #979797;
    .flower .drop {
      color: #d3ae6a;
    }
  }
  &--ichallenge {
    background-color: #ff6200;
    .flower .drop {
      color: #ff6200;
    }
  }
  &--pulvermühle {
    background-color: #000;
    .flower .drop {
      color: #000;
    }
  }
  &--o2 {
    background-color: #0090d0;
    .flower .drop {
      color: #0090d0;
    }
  }
  &--tchibo {
    background-color: #373f44;
    .flower .drop {
      color: #373f44;
    }
  }
}

.project-wrapper {
  background-color: #000;

  &:last-child {
    .project {
      position: relative !important;
    }
  }
}

.pinned {
  width: 100%;
}
