@reference "../../app.css";

header {
  @apply px-8 grid grid-cols-1 py-8;
  @media (width >= theme(--breakpoint-md)) {
    @apply px-20 py-20;
  }

  background: #86f4d7;
  background: linear-gradient(147deg, rgba(134, 244, 215, 1) 32%, rgba(255, 255, 255, 1) 86%);
  @media (width >= theme(--breakpoint-md)) {
    @apply grid-cols-2;
  }

  .logo-column {
    img {
      @apply w-3/4 z-50 relative;
      margin-left: 12.5%;
    }
    @media (width >= theme(--breakpoint-md)) {
      img {
        @apply w-1/2 mb-12 ml-0;
      }
    }
  }
  .text-column {
    @apply grid grid-flow-row auto-rows-max gap-4 order-3;

    h1 {
      @apply pb-4 text-black text-center leading-8 text-4xl font-normal z-50;
      @media (width >= theme(--breakpoint-md)) {
        @apply text-6xl;
      }
    }

    p {
      @apply text-2xl font-light text-center pb-12 leading-9 z-50;
      @media (width >= theme(--breakpoint-md)) {
        @apply text-4xl leading-13;
      }
    }

    @media (width >= theme(--breakpoint-md)) {
      h1,
      p {
        @apply text-left;
      }

      p {
        @apply pb-0;
      }

      img {
        @apply w-1/3 mb-8;
      }
    }
  }

  .profile-column {
    @apply justify-self-center-safe content-center relative order-1 row-span-2;
    @media (width >= theme(--breakpoint-md)) {
      @apply order-2;
    }

    img {
      @apply w-64 h-64 mb-12 mt-8 rounded-full border-3 border-white z-50 relative;
      @media (width >= theme(--breakpoint-md)) {
        @apply w-96 h-96;
      }
    }

    .tk-blob {
      @apply absolute right-auto bottom-auto w-3/4 h-3/4 inline-flex z-10 overflow-hidden;
      --fill: #a7feed;
      @media (width >= theme(--breakpoint-md)) {
        @apply w-full h-full -top-1/12;
        --fill: #86f4d7;
      }
    }
  }
}
