@reference "../../app.css";

header {
  @apply px-8 grid grid-cols-1 py-20;
  @media (width >= theme(--breakpoint-md)) {
    @apply px-20;
  }

  background: #86f4d7;
  background: linear-gradient(147deg, rgba(134, 244, 215, 1) 0%, rgba(255, 255, 255, 1) 72%);
  @media (width >= theme(--breakpoint-md)) {
    @apply grid-cols-2;
  }

  .logo-column {
    @apply grid grid-flow-row auto-rows-max gap-4;

    h1 {
      @apply pb-4 text-black text-center text-6xl font-normal;
    }

    p {
      @apply text-4xl font-light leading-13 text-center pb-12;
    }

    @media (width >= theme(--breakpoint-md)) {
      h1,
      p {
        @apply text-left;
      }

      p {
        @apply pb-0;
      }

      img {
        @apply w-1/3 mb-8;
      }
    }
  }

  .profile-column {
    @apply justify-self-center-safe content-center relative;
    img {
      @apply w-64 h-64 rounded-full border-2 border-white z-50 relative;
    }
    .tk-blob {
      @apply absolute -top-1/12 right-auto bottom-auto hidden;
      @media (width >= theme(--breakpoint-md)) {
        @apply w-full h-full inline-flex;
      }
    }
  }
}
