.carousel {
  @media #{$small-and-down} {
    margin-top: 10%;
  }

  position: relative;

  &[data-carousel-loaded='true'] {
    .carousel-item {
      position: initial;
      left: auto;
    }
  }

  &-item {
    @extend .center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 0 !important;
    font-size: 6vw;
    color: #fff;
    position: absolute;
    left: 0;

    &--text {
      @extend .browser-default;
      padding: 0;
      list-style-type: circle;

      li {
        @extend .flow-text;

        &:first-child {
          list-style-type: none !important;
        }
        list-style-position: inside !important;
      }

      @media #{$small-and-down} {
        text-align: left;
      }
    }
    img {
      max-height: 100%;
      max-width: 100%;
      width: auto;
      margin: 0 auto;
      border: 1px solid rgba(255, 255, 255, 0.3);

      @media #{$small-and-down} {
        max-height: 60vh;
      }
    }
  }
  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}
