@import "../../mixins";

footer {
  @extend %page-footer;
  @extend %row;

  margin-bottom: 0;
  color: #fff;
  background-color: black;

  padding: 5% 0;

  @media #{$medium-and-up} {
    padding: 2.5% 0;
  }

  .contacts {
    display: flex;
    justify-content: space-evenly;
  }

  .copyright {
    @extend %col;
    @extend %s12;

    margin-left: 0;
    line-height: 1;
    text-align: center;
    padding-top: 5%;

    @media #{$medium-and-up} {
      padding-top: 2.5%;
    }

    p {
      margin: 0;
      @media #{$small-and-down} {
        font-size: 4vw;
      }
      @media #{$medium-and-up} {
        font-size: 1.8vw;
      }
    }
  }

  .icon--container {
    @extend %col;
    @extend %s3;
    padding: 5%;
    flex: 0 0 auto;
    margin-left: 0;

    @media #{$medium-and-down} {
      padding: 0 0;
    }

    .icon {
      @extend %valign-wrapper;
      text-align: center;
      transform: scale(0.5);

      > div {
        margin: 0 auto;
        width: 100%;
        height: auto !important;
      }

      border: 2px solid white;
      border-radius: 0 50% 50% 50%;

      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }

      margin-left: 0;

      img {
        transform: scale(0.5);
      }
    }
  }
}
