@import "../../mixins";

footer {
  @extend %page-footer;
  @extend %row;

  margin-bottom: 0;
  color: #fff;
  background-color: black;

  padding: 0 5%;

  @media #{$small-and-down} {
    padding: 5%;
    padding-bottom: 10%;
  }

  .copyright {
    @extend %col;
    @extend %m3;
    @extend %s3;

    margin-left: 0;
    line-height: 1;
    padding-top: 25px;

    @media #{$medium-and-down} {
      padding-top: 10px;
    }

    p {
      @media #{$small-and-down} {
        font-size: 3.6vw;
      }
    }
  }

  .icon {
    text-align: center;
    @extend %col;
    @extend %m2;
    @extend %s3;
    @extend %valign-wrapper;

    padding: 10px;

    > div {
      margin: 0 auto;
    }

    border: 3px solid white;
    border-top-left-radius: 0%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;

    transform: scale(0.6);

    @media #{$large-and-up} {
      transform: scale(0.4);
    }

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    margin-left: 0;

    img {
      @media #{$small-and-down} {
        transform: scale(0.6);
      }
      @media #{$medium-and-up} {
        transform: scale(0.8);
      }
      @media #{$large-and-up} {
        transform: scale(1);
      }
    }
  }
}
