body {
    font-family: 'Lato', sans-serif;
}

.drop {
    @extend .hoverable;
    @extend .valign-wrapper;

    position: relative;
    color: #fff;
    transform: scale(0.9);
    background-color: $drop-color;

    &--tr {
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 0;
    }
    &--br {
        border-top-left-radius: 0;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }
    &--tl {
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 50%;
    }
    &--bl {
        border-top-left-radius: 50%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    span {
        position: absolute;
        width: 100%;
        text-align: center;
    }

    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
}
