footer {
  @extend .page-footer;
  @extend %row;
  @extend .valign-wrapper;

  color: #fff;
  background-color: black;

  padding: 2% 5%;

  @media #{$small-and-down} {
    padding: 5%;
  }

  .copyright {
    @extend %col;
    @extend %m3;
    @extend %s3;

    margin-left: 0;
    line-height: .5;

    p {
      @media #{$medium-and-down} {
        font-size: 3vw;
      }
    }
  }

  .icon {
    text-align: center;
    @extend %col;
    @extend %m2;
    @extend %s3;

    margin-left: 0;
  }
}
